body{
	margin:0px;
	padding:0px;
  font-family:"Microsoft YaHei";
  overflow: hidden;
  font-size: 20px;
}
.section{
  overflow:hidden;
}
#myMenu{
  width: 400px;
	position: relative;
	z-index:99;
  margin: 0 auto;
}
#myMenu li{
	float: left;
	margin:10px 20px 0 0;
	list-style: none;
  padding:2px 5px 10px;
  font-size: 0.8em;
}
#myMenu li a{
  display: inline;
	color: #00A0E9;
	text-decoration: none;
}
#myMenu li:hover ,.cur {
  border-bottom: 1px solid rgb(16,180,240);
}
.down{
  position: fixed;
  width: 100%;
  z-index: 98;
  bottom: 5%;
  text-align: center;
}
.down img{
  margin: 0 auto;
  width: 5%;
  max-width: 30px;
}
.bg{
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 0;
  top: 0px;
}
.bg:first-child{
  background-image: url(../background/page-1.jpg);
}
.bg:nth-child(2){
  background-image: url(../background/page-1.jpg);
}
.bg:nth-child(3){
  background-image: url(../background/page-1.jpg);
}
.bg:nth-child(4){
  background-image: url(../background/page-1.jpg);
}
.title{
  position: absolute;
	top:20px;
	left:50px;
	opacity:0;
  z-index: 99;
}
.text{
  font-size: 1em;
  color: rgb(255, 255, 255);
  line-height: 0.5em;
  text-align: center;
  position:relative;
  margin: 0% auto;
  top: 10%;
  z-index: 10;
}
.text p{
	position:relative;
  top:200px;
  opacity:1;
}
.head{
  position: relative;
  width: 100px;
  height: 100px;
  margin:3% auto;
}
.hd {
  border-radius: 50%;
  opacity: 1;
  position: absolute;
  width: 100px;
  height: 100px;
  z-index: 100; 
}
.head-1 {
  opacity: 0.8;
  background-color: rgb(46, 180, 240);
  z-index: 1;
  animation:h-ani 2s infinite;
  -moz-animation:h-ani 2s infinite;
  -webkit-animation:h-ani 2s infinite;
  -o-animation:h-ani 2s infinite;
}

@keyframes h-ani {
  50% { transform: scale(1.5); }
}
@-moz-keyframes h-ani {
  50% { -moz-transform: scale(1.5); }
}
@-webkit-keyframes h-ani {
  50% { -webkit-transform: scale(1.5); }
}
@-o-keyframes h-ani {
  50% { -o-transform: scale(1.5); }
}

.head-2 {
  background-color: rgb(86, 196, 246);
  z-index: 0;
}
.list-top,.list-bottom{
  position: relative;
  margin: 0 auto;
  padding: 50px;
  width: 900px;
}
.list-top {
  top: 50px;
  left: -1366px;
}
.list-bottom{
  left: 1366px; 
}
.list-1,.list-3 {
  width: 400px;
  height: 300px;
  position: relative;   
  float: left;
}
.list-2,.list-4 {
  width: 400px;
  height: 300px;
  position: relative;
  float: right;
}
.list-1 h1,.list-2 h1,.list-3 h1,.list-4 h1{
  font-size: 1.5em;
  color: #fff;
}
.square {
  display: inline;
  float: right;
  border-top: 2px solid rgb(16,180,240);
  text-indent:2em;
  text-align: center;
}
.square p{
  padding:0 10px;
  color: #fff;
  font-size: 0.8em;
  text-align: left;
}
.buttom{
  display: inline;
  position: relative;
  color: #00A0E9;
  text-decoration:none;
  border: 1px solid rgb(16,180,240);
  padding: 2% 8%;
  margin: 0 auto;
}
.buttom:hover{
  animation:buttom 1s forwards;
  -moz-animation:buttom 1s forwards;
  -webkit-animation:buttom 1s forwards;
  -o-animation:buttom 1s forwards;
}

@keyframes buttom {
  to {
    background-color: #00A0E9;
    color: #fff;
  }
}

@-moz-keyframes buttom {
  to { 
    background-color: #00A0E9;
    color: #fff;
  }
}

@-webkit-keyframes buttom {
  to { 
    background-color: #00A0E9; 
    color: #fff;
  }
}

@-o-keyframes buttom {
  to { 
    background-color: #00A0E9;
    color: #fff;
  }
}
.sq {
  width: 70%;
  height:40%;
  max-height:300px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
}
.sq-top {
  top:0px;
}
.sq-bottom {
  bottom:0px;
}
.sqq{
  width: 33.3%;
  height: 100%;
  position: relative;
  color: #fff;
  float: left;
  opacity: 0;
}
.sq-w {
  background-color: rgba(0,0,0,0.8);
}
.sq-b {
  background-color: rgba(255,255,255,0.8);
  color: black;
}
.sqq p {
  margin:0px 20px;
  line-height: 2;
  font-size: 1em;
  text-indent:2em;
}
.sq-pic{
  background-color: white;
}
.sq-pic img{
  vertical-align: middle;
}
.sqq h2 {
  margin:10% 0% 0% 5%;
}
.sq-top .sq-b p{
  margin-top:5%; 
  font-size: 3em;
  text-align: center;
  letter-spacing:0.5em;
}
.contact {
  min-width: 20%;
  min-height: 30%;
  background-color: rgba(16,180,240,0.6);
  position: relative;
  float: left;
}
.ct-1{
  margin-left: 10%
}
.contact img {
  width: 20%;
  height: auto;
  margin: 10% 40% 5%;
}
.contact h1,
.contact p {
  text-align: center;
  color: white; 
  font-size: 1.2em;
}
.cm{
  color: white;
  position: relative;
  width: 100%;
  height: 10px;
  font-size: 5em;
  top: -60px;
  text-align: center;
}
@media (max-width: 767px) {
  #myMenu{
    width: 300px;
  }
  #myMenu li {
  font-size: 0.5em;
  margin:10px 10px 0 0;
  }
  .text p{
  font-size: 0.6em;
  }
  .hd,.head{
    width: 50px;
    height: 50px;
  }
}