body{
	margin:0px;
	padding:0px;
  font-family:"Microsoft YaHei";
}
.menu{
	float:right;
	width:350px;
	margin-right:10px;
	
}
#myMenu{
	margin-top:0px;
	position: fixed;
	z-index:99;
	width:100%;
	opacity:0.8;
	padding-top:10px;
}
#myMenu li{
	float: left;
	margin-right: 20px;
	list-style: none;
}
#myMenu a{
	color: #00A0E9;
	text-decoration: none;
}
.title1{
  position: absolute;
	top:20px;
	left:50px;
	opacity:0;
}

.title2{
    position: absolute;
	top:20px;
	left:50px;
	opacity:0;
}
.title3{
    position: absolute;
  top:20px;
  left:50px;
  opacity:0;
}
.section{
	overflow:hidden;
}
.bg-1{
  background-image: url(../background/page-1.jpg);
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 0;
  top: 0px;
}
.text{
  font-size: 20px;
  color: rgb(255, 255, 255);
  line-height: 1.2;
  text-align: center;
  position:relative;
  margin-left:auto;
  margin-right:auto;
  margin-top: 250px;
  ,margin: 250px auto 0;
  z-index: 10;
}
.text p{
	word-wrap:break-word;
	position:relative;
    top:200px;
    opacity:1;
}
.head{
  position:relative;
  width:200px;
  margin: 5px auto 0;
}
.hd {
  border-radius: 50%;
  opacity: 0.5;
  position: absolute;
  width: 100px;
  height: 100px;
  top:50px;
  left:50px;
}
.head-1{
  background-color: rgb(46, 180, 240);
}

.head-2 {
  background-color: rgb(86, 196, 246);
}

.bg-2{
  background-image: url(../background/page-1.jpg);
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 0;
  top: 0px;
}
.bg-3{
  background-image: url(../background/page-1.jpg);
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 0;
  top: 0px;
}
.bg-4{
  background-image: url(../background/page-1.jpg);
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 0;
  top: 0px;
}
.list-top,.list-bottom{
  position: relative;
  margin-right: auto;
  margin-left: auto; 
  padding: 50px;
  width: 900px;
}
.list-top {
  top: 50px;
  left: -1366px;
}
.list-bottom{
  left: 1366px; 
}
.list-1,.list-3 {
  width: 400px;
  height: 300px;
  position: relative;   
  float: left;
}
.list-2,.list-4 {
  width: 400px;
  height: 300px;
  position: relative;
  float: right;
}
.square {
  width: 400px;
  height: 150px;
  float: right;
  top: 50px;
  text-indent:2em;
}
.square-bg{
  background-color: #000;
  border-radius: 10px;
  opacity: .7;
  width: 400px;
  height: 150px;
  z-index:0;
}
.square p{
  padding-left:10px;
  padding-right: 10px;
  position: absolute;
  float: left;
  z-index: 1;
  color: #fff;
}
.buttom{
  position: absolute;
  width: 150px;
  height: 40px;
  z-index: 99;
  padding:20px 0 0 20px;
  border:1px solid #00A0E9;
  text-decoration:none;
  left: 120px;
  color: #00A0E9;
  border-radius: 50px;
  box-shadow: 1px 1px 15px 2px ;
  
}
.buttom:hover{
  background-color: #fff;
  border:1px solid #fff;
  color: #00A0E9;
}
.buttom-1{
  position: absolute;
  margin-top: 35px;
}
.buttom-2{
  position: absolute;
  margin-top: 73px;
  left: 120px;
}

.line {
  background-image: -moz-linear-gradient( 0deg, rgb(0,0,0) 0%, rgb(0,160,233) 100%);
  background-image: -webkit-linear-gradient( 0deg, rgb(0,0,0) 0%, rgb(0,160,233) 100%);
  background-image: -ms-linear-gradient( 0deg, rgb(0,0,0) 0%, rgb(0,160,233) 100%);
  position: absolute;
  top: 328px;
  left: 222px;
  width: 1px;
  height: 7px;
}
.t1,.t2 {
  width: 122px;
  height: 45px;
  border-radius: 10px;
  top: 310px;
  position: absolute;
  opacity: 0;
}
.t1 {
  background-color: rgb(0, 0, 0);
  left: 100px;
}

.t2 {
  background-color: rgb(0, 160, 233);
  left: 1100px;
}
.t1 p,.t2 p{
  text-align: center;
  font-size: 30px;
  margin:2px;
  color: #fff;
}

.c1,.c2,.c3,.c4,.c5{
  border-radius: 50%;
  position: absolute;
  top: 330px;
  width: 2px;
  height: 2px;
  opacity: 0;
}
.c1 {
  background-color: #000c12;
  left: 300px;
  opacity: 0;
}
.c2 {
  background-color: #002636;
  left: 465px;
  opacity: 0;
}
.c3 {
  background-color: #003f5d;
  left: 613px;
}
.c4 {
  background-color: #005e89;
  left: 770px;
}

.c5 {
  background-color: #007db6;
  left: 940px;
}

.v1,.v2,.v3,.v4,.v5{
  width: 255px;
  height: 245px;
  position: absolute;
  background-repeat: no-repeat;
  opacity: 0;
}
.v1,.v3,.v5{
  background-image: url(../s3/v1.png);
  top: 80px;
}
.v2,.v4{
  background-image: url(../s3/v2.png);
  top: 370px;
}
.v1 p,.v2 p,.v3 p,.v4 p,.v5 p{
  color: #000;
  position: absolute;
  line-height:2;  
}
.v1 p,.v3 p{
  margin:20px 20px 0;
}
.v2 p{
  margin:40px 20px 0;
}
.v5 p{
  margin:10px 20px 0;
  line-height: 1.7 !important;
}
.v4 p{
  margin: 50px 20px 0;
}
.v1{
  left: 260px;
}
.v2{
  left: 425px;
}
.v3{
  left: 573px;
}
.v4{
  left: 730px;
}
.v5{
  left: 900px;
}
.test{
  top:80px;
  position: absolute;
  left:80px;
}

